.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f6f8fd;
  padding: 11px 30px 13px 30px;
  button {
    min-width: 90px;
    height: 36px;
    font-size: 12px;
    padding: 0 15px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #cccccc;
    outline: none;
    cursor: pointer;
    margin-right: 3px;
  }
  .change-btn {
    color: #5495ff;
    background-color: inherit;
    &[disabled] {
      cursor: default;
      opacity: 0.5;
    }
  }
  .close-btn {
    background-color: #5495ff;
    color: #ffffff;
  }
}
